.logout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logout img{
    max-width: 50%;
    max-height: 80%;
}

.content h1{
    font-size: 1.75rem;
    font-weight: 500;
}
.content p{
    color: #b3b3b3;
    font-weight: 300;
}
.content .superhero{
    font-weight: 700;
}
form .buttonStyle{
    margin-left: 20px;
}

@media(max-width: 420px) {
    .logout img{
        display: none;
    }   
}