.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main .content{
    text-align: center;
}
.main .content .formStyle{
  display: flex;
  justify-content: center;
}

.main .badge {
    background-color: #67d1a4;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;

}
.main .wordNumber{
    color: #1f7552;
    font-weight: bold;
    font-size: 1.8rem;
    display: inline-block;
}
.main img{
    max-width: 150px;
    max-height: 315px;
}

.badge:hover,
  .badge:active {
    background-color: #1f7552;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

