.progress{
    display: grid;
    row-gap: 35px;
    column-gap: 18px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.noProgress{
    text-align: center;

}

.noProgress a{
    color: #41e4a0;
    font-weight: bold;
    text-decoration: none;
}

.noProgress a:hover, .progress a:active{
    color: #1a3d2f;
}
.loadingText {
    text-align: center;
    font-weight: 500;
}
.loadMoreBtn {
    text-align: center;
    margin-top: 2rem;
}



@media (max-width: 580px) {
    .progress {
        width: 100%;
    }
} 