@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');

.level{
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Gluten', cursive;
}
.time{
    font-family: 'Gluten';
    font-size: 1.5rem;
    text-align: center;
    color: #8B7B20;
}

.badge{
    text-align: center;
    margin-bottom: 1rem;
}
.badge img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    border: 20px solid #303F9F;
}

@media (max-width: 768px) {
    .level {
        font-size: 1.8rem;
    }
    .time{
        font-family: 'Gluten';
        font-size: 1.2rem;
    }
    .badge img{
        width: 100px;
        height: 100px;
        border: 15px solid #303F9F;
    }
}

@media (max-width: 576px) {
    .level {
        font-size: 1.3rem;
    }

}