.wordName{
    font-weight: bold;
    font-size: 1.3rem;


}
.regexName{
    font-weight: 300;
    font-size: 1rem;
    position: absolute;
    bottom: -28px;
    left: 0;
    background-color: #5862a3;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 5px;

}